header{
  background-image: url('/assets/redBackground.jpg');
  padding: 0;
  border-bottom: 1px solid red;
}
a{
  color: white;
}
a:hover{
  background-color: #e72929;
  color: black;
}
.container{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  padding: 1em;
}
nav ul{
  list-style-type: none;
  margin: 0;
}
nav ul li a{
  padding: 1em;
  display: inline-block;
}
