.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
}
ul{
  display: flex;
  flex-direction: column;
  flex: 3 0;
  border: 1px solid #f6bdbd;
  border-radius: 1rem;
  margin: .5rem;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
ul li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
}
ul li:last-child{
  border: none;
}
ul li img{
  height: 5rem;
  width: 5rem;
  border-radius: 100rem;
  object-fit: cover;
}
ul li div{
  padding: 1rem;
}
ul li div:not(:first-child){
  flex-basis: 13%;
}
ul li .perItem{
  font-size: .8rem;
  font-weight: 700;
}
ul li select{
  width: 4rem;
  border: none;
  outline: none;
  border-bottom: px solid rgb(242, 130, 130);
  font-weight: 200;
}
ul .remove-button{
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: .5rem;
  opacity: .9;
  color: #fe2f2f;
}
ul .remove-button:hover{
  opacity: 1;
  cursor: pointer;
}
.checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 3;
  height: 25rem;
  border: 1px solid #f6bdbd;
  border-radius: 1.5rem;
  padding: .5rem;
  margin: .5rem;
}
.checkout > div{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: .5rem;
  font-size: 1.2rem;
}
.checkout .foods-count{
  margin-bottom: 1rem;
}
.checkout .food-count::before{
  content: "Total Products: ";
  color: grey;
}
.checkout .total-price::before{
  content: "Total Price: ";
  color: grey;
}
.checkout a{
  padding: 1rem;
  color: white;
  background-color: #fe2f2f;
  border-radius: 2rem;
  text-align: center;
  opacity: .8;
  justify-content: center;
  position: absolute;
  bottom: 20rem;
}
.checkout a:hover{
  opacity: 1;
  cursor: pointer;
}
